@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Regular';
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.aboutme__title, .myskills-container__title {
    font-family: Roboto;
    font-size: 32px;
    line-height: 36.5px;
    margin: 112px 0px 0 15px;
    text-align: center;
}

.header, .main-section {
    background-color: #EEEFF1;
    max-width: 1920px;
    padding: 0 20px;
    margin: 0 auto;
}

.fix-container {
    box-sizing: border-box;
    padding: 0 20px;
    max-width: 1240px;
    margin: 0 auto;
}

.header-container {
    padding-top: 63px;
    display: flex;
    justify-content: space-between;
}

.header-container__logo {
    padding-left: 47PX;
    padding-top: 1px;
}

.nav-links {
    padding-top: 3px;
    display: flex;
    padding-right: 45px;
}

.nav-links__item {
    margin-left: 43px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
}

.nav-links__link {
    color: #000000;
    font-style: normal;
    font-weight: 600;
}

.nav-links__link:hover {
    opacity: 0.7;
}

.header-container__burger-icon {
    display: none;
    margin-top: 4px;
    margin-right: 47px;
}

.burger-icon__items {
    display: block;
    height: 7px;
    width: 45px;
    background-color: #34547A;
}

.burger-icon__items:nth-child(2) {
    margin: 6px 0;

}

.section-container {
    display: flex;
    justify-content: space-between;
    padding-top: 141px;
    padding-bottom: 158px;
}

.section-container__lap {
    margin: 0 auto;
    padding-top:14px;
    padding-left: 5px;
}

.section-container__caption {
    margin-top: -18px;
    font-weight: 600;
    font-size: 48px;
    line-height: 79px;
    margin-bottom: 35px;
    padding-right: 176px;
}

.section-container__discription {
    font-style: normal;
    font-weight: 400px;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    width: 540px;
    margin-bottom: 51px;

}
.section-container__button {
    padding-top: 5px;
    padding-right: 1px;
    margin-left: 1px;
    width: 225px;
    height: 65px;
    background-color: #34547A;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.section-container__button:hover {
    background-color: #34547A;
    opacity: 0.8;
}

.aboutme {
    margin: 0 auto 91px auto;
}



.aboutme__text {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    display: flex;
    width: 535px;
    height: 64;
    margin: 39px  0 0 341px;
    color:#727272;
}

.main-projects {
    height: 250px;
    background-color:#34547A;
}

.projects__list {
    width: 1140px;
    height:250px;
    margin: 0 0 0 350px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.projects__item {
    padding-top: 5px;
}

.projects__icon {
    margin-left: 20px;
}

.myskills-container {
    margin-right: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.myskills-container__skills {
    position: relative;
    margin-left: 19px;
}

.myskills-container__title {
    width: 250px;
    display: block;
    position: absolute;
    top: -8px;
    text-align: left;
}

.myskills-container__progress {
    position: absolute;
    top: 169px;
    height: 207px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 16px;
}

.myskills-container__progress-line {
    width: 450px;
    height: 11px;
}
       
.progress p{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 0px;
}

.box-photo img {
    width: 555px;
    height: 450px;
}

.back {
    margin-left: 50px;
    font-size: 16px;
}

.mobile-container {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 12;
    background-color: rgba(0, 0, 0, 0.8);
    transition:  all 1s ease 0s ;
}

.header-mobile {
    position:relative;
    margin: 50px auto 0 auto;
    transform: trnslate(-50%, -50%);
    width: 310px;
    height: 380px;
    background-color: rgba(79, 128, 192);
    border: 1px solid gray;
    border-radius: 10px;
    overflow: auto;
    font-size: 14px;
}

.close-icon {
    width: 18px;
    padding-top:12px;
}

.close-icon span {
    top:20px;
    left: 270px;
    position: absolute;
    display: block;
    height: 1px;
    width: 20px;
    background-color: rgba(232, 235, 52);
}

.mobile-container:target {
    opacity: 1;
    visibility: visible;
}

.close-icon span:first-child {
    transform: rotate(45deg);
}

.close-icon span:last-child {
    transform: rotate(-45deg);
}

.mobile-list {
    padding-left: 10px;
    margin-top: 0px;
    padding-top: 55px;
    list-style-type: none;
    font-size: 18px;
}

.mobile-list li {
    text-align: center;
    padding-bottom: 10px;
    letter-spacing: -0.36;
    padding-top: 9px;
    margin: 0px auto;
    border-bottom: 1px solid lightgrey;
    width: 120px;
    text-transform: uppercase;
}

.mobile-list li:last-child {border-bottom: none;}

.mobile-list a {
    text-decoration: none;
    color: lightgrey;
}

.mobile-list a:hover {
    color: rgba(232, 235, 52);
}

.popup_area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media (max-width:1280px) {
    .discription {
        width: 100%;
        margin-bottom: 70px;
    }

    .right-container {
        padding-left: 80px;
    }

    .lap {
       padding-left: 50px;
    }
}

@media (max-width:1145px) {
    .section-container {
        display: block;
        align-content: center;
        padding-top: 50px;
        margin: 0 auto;
    }
    .right-container {
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }

    .lap {
        padding: 0;
        margin: 0 auto 40px auto;
        text-align: center;
    }
    .caption {
        margin: 0 auto;
        padding: 0;
    }
}

@media (max-width:946px) {
    .menu {
        display: none;
    }

    .burger-icon {
        display: block;
    }
}

@media (max-width:486px) {
    .caption {
        font-size: 24px;
    }

    .lap img {
        width: 80%;
    }

    .burger-icon span {
        display: block;
        width: 24px;
        height: 2px;
    }
    .logo img {
        width: 50px;
        height: 24px;
    }
}

@media (max-width:320px) {
    .button {
        width: 112px;
        height: 32px;
        font-size: 8px;
        padding: 0;
    }
}
